<div class="modal-header">
    <h2 class="modal-title">
        Alta de Pago de Premio
    </h2>
    <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-10">
            <form class="form-horizontal" #formulario>                
                <div class="form-group" [ngClass]="{'has-error': monto.invalid}">
                    <label class="control-label">Monto</label>
                    <input type="number" name="monto" [(ngModel)]="pagoPremio.monto" #monto="ngModel"  [required]="cantidadCartones.value == null && idTipoCarton.value == null"  placeholder="Ingrese el monto entregado" class="form-control m-1" value="0">
                </div>             
                <div class="form-group" [ngClass]="{'has-error': idTipoCarton.invalid}">
                    <label class="control-label">Cartón</label>
                    <ng-select name="idTipoCarton" [searchable]="true" class="form-control m-1" [required]="idTipoCarton.value == null && cantidadCartones.value != null"  [(ngModel)]="pagoPremio.idTipoCarton" placeholder="Seleccione el tipo de cartón entregado" #idTipoCarton="ngModel">
                        <ng-option [value]="t.id" *ngFor="let t of tiposCarton"> {{t.nombre}}</ng-option>
                    </ng-select>
                </div>
                 <div class="form-group" [ngClass]="{'has-error': cantidadCartones.invalid}">
                    <label class="control-label">Cantidad</label>
                    <input title="Ingrese la cantidad de cartones entregados" type="number" [required]="cantidadCartones.value != null && idTipoCarton.value == null" name="cantidadCartones" [(ngModel)]="pagoPremio.cantidadCartones" #cantidadCartones="ngModel" placeholder="Ingrese la cantidad de cartones entregados" class="form-control m-1" value="1">
                </div>
                <div class="form-group">
                    <label class="control-label">Cliente</label>
                    <ng-select name="idCliente" [searchable]="true" class="form-control m-1" [(ngModel)]="pagoPremio.idCliente" #cliente="ngModel" autofocus>
                        <ng-option [value]="c.id" *ngFor="let c of clientes"> {{c.apellido}}, {{c.nombre}}</ng-option>
                    </ng-select>
                </div>
                <div class="form-group">
                    <label class="control-label">Observaciones</label>
                    <textarea title="Observaciones" type="text" name="observaciones" [(ngModel)]="pagoPremio.observaciones" class="form-control m-1"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button [disabled]="formInvalido(monto.value, cantidadCartones.value, idTipoCarton.value)" class="btn btn-primary float-right m-1" (click)="agregarPagoPremio()">Agregar</button>
</div>
