<div *ngIf="hojaCaja != null" class="row mt-4">    
    <h3>Arqueo de Caja</h3>  
    <form>    
    <div class="card shadow col-12 p-3 m-2 bg-white rounded">                             
            <div class="row m-2">
                <div class="card py-2 col-md-4 text-secondary">
                    <span class="mb-3">Ingrese la cantidad de cada billete/moneda:</span>
                    <div *ngIf="mostrarDetalle" class="row">
                        <div class="col-md-6 text-secondary table-responsive">
                            <table class="table-sm">                               
                                <tr *ngFor="let billete of billetes; let i = index;">
                                    <td class="float-right"><strong>{{billete.nombre}}</strong></td>
                                    <td><input id="b{{i}}" [disabled]="hojaCaja.baja != null" type="number" name="billete{{i}}.cantidad" [(ngModel)]="billete.cantidad" required class="form-control form-control-sm my-1" (change)="updateTotalBilletes()"></td>
                                </tr>
                            </table>                            
                        </div>    
                        <div class="col-md-6 text-secondary table-responsive">
                            <table class="table-sm">                               
                                <tr *ngFor="let moneda of monedas; let i = index;">
                                    <td class="float-right"><strong>{{moneda.nombre}}</strong></td>
                                    <td><input id="m{{i}}" [disabled]="hojaCaja.baja != null" type="number" name="moneda{{i}}.cantidad" [(ngModel)]="moneda.cantidad" required class="form-control form-control-sm my-1" (change)="updateTotalMonedas()"></td>
                                </tr>
                            </table>    
                        </div>                        
                    </div>                                                                             
                </div>  
                <div class="card py-2 col-md-4 table-responsive">
                    <span class="mb-4"></span>
                    <table class="table-sm text-success">             
                        <tr class="h6 d-flex justify-content-between">
                            <td><strong>Ventas Online:</strong></td>
                            <td><strong>{{hojaCaja.ventasOnline | currency}} </strong></td>
                        </tr>
                        <tr class="h6 d-flex justify-content-between">
                            <td><strong>Total Pago de Fiados:</strong></td>
                            <td><strong>{{caja.totalPagosFiados| currency}} </strong></td>
                        </tr>
                        <tr class="h6 d-flex justify-content-between">
                            <td><strong>Total Venta de Cartones:</strong></td>
                            <td><strong>{{caja.totalVentasCartones| currency}} </strong></td>
                        </tr>
                    </table>                 
                </div>               

                <div class="card py-2 col-md-4 table-responsive">
                    <span class="mb-4"></span>
                    <table class="table-sm text-danger">             
                        <tr class="h6 d-flex justify-content-between">
                            <td><strong>Pagos Online:</strong></td>
                            <td><strong>{{hojaCaja.pagosOnline | currency}}</strong></td>
                        </tr>
                        <tr class="h6 d-flex justify-content-between">
                            <td><strong>Total Fiados:</strong></td>
                            <td><strong>{{caja.totalFiados| currency}}</strong></td>
                        </tr>
                        <tr class="h6 d-flex justify-content-between">
                            <td><strong>Total Pago de Premios/Cartones:</strong></td>
                            <td><strong>{{caja.totalPagosPremioCartones| currency}}</strong></td>
                        </tr>
                        <tr class="h6 d-flex justify-content-between">
                            <td><strong>Total Pago de Premios/Efectivo:</strong></td>
                            <td><strong>{{caja.totalPagosPremioEfectivo| currency}}</strong></td>
                        </tr>
                        <tr class="h6 d-flex justify-content-between">
                            <td><strong>Total Gastos:</strong></td>
                            <td><strong>{{caja.totalGastos| currency}}</strong></td>
                        </tr>
                    </table>     
                </div>        
            </div>             
            <div class="row p2">
                <div class="py-2 col-md-4 text-secondary">                    
                    <div class="col-md-6">
                        <h4 class="h6">
                            <span><strong>Billetes: {{caja.totalBilletes | currency}}</strong></span>
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="h6 mx-2">
                            <span><strong>Monedas: {{caja.totalMonedas  | currency}}</strong></span>
                        </h4>
                    </div>                                         
                </div>          
                <div class="py-2 col-md-4 text-success">
                    <h4 class="h6 d-flex justify-content-between">
                        <span><strong>Total Ingresos: </strong></span>
                        <span><strong>{{getTotalIngresos() | currency}} </strong></span>
                    </h4>
                </div>
                <div class="py-2 col-md-4 text-danger">            
                    <h4 class="h6 d-flex justify-content-between">
                        <span><strong>Total Egresos: </strong></span>
                        <span><strong>{{getTotalEgresos() | currency}} </strong></span>
                    </h4>
                </div>                                   
            </div>  
            <div class="card mt-2 mb-2 bg-white rounded">     
                <div class="form inline p-2">
                    <div class="row">  
                        <div class="form-group col-md-2">                      
                            <label for="ventasOnline"><strong>Ventas Online</strong></label>         
                            <input [disabled]="hojaCaja.baja != null"
                                type="number"
                                name="ventasOnline"
                                [(ngModel)]="hojaCaja.ventasOnline"
                                placeholder="0.00"
                                class="form-control m-2"
                              />
                        </div>
                        <div class="form-group col-md-2">                      
                            <label for="pagosOnline"><strong>Pagos Online</strong></label>         
                            <input [disabled]="hojaCaja.baja != null"
                                type="number"
                                name="pagosOnline"
                                [(ngModel)]="hojaCaja.pagosOnline"
                                placeholder="0.00"
                                class="form-control m-2 text-danger"
                              />   
                        </div>
                    </div>                  
                    <div class="row">  
                        <div class="form-group col-md-2">                      
                            <label for="billetera"><strong>Billetera</strong></label>         
                            <input  [disabled]="hojaCaja.baja != null" class="form-control form-control-sm py-2" type="number" name="billetera" [(ngModel)]="caja.billetera" required  value="0">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="fondoReserva"><strong>A Fondo de Reserva</strong></label>            
                            <input  [disabled]="hojaCaja.baja != null" class="form-control form-control-sm py-2" type="number" name="fondoReserva" [(ngModel)]="caja.fondoReserva" required  value="0">
                        </div>    
                        <div class="form-group col-md-2">                           
                            <label for="balance"><strong>Balance</strong></label>   
                            <label class="form-control form-control-sm  bg-opacity-50 fw-bolder py-2" [ngClass]="caja.balance < 0 ? 'bg-danger': 'bg-info'" >{{this.caja.balance | currency}}</label>                              
                          </div>
                        <div class="form-group col-md-2">
                            <label><strong>Próximo Fondo Fijo</strong></label>        
                            <label class="form-control form-control-sm bg-info  bg-opacity-50 fw-bolder py-2">{{this.caja.proximoFF | currency}}</label>
                        </div>                                        
                    </div>  
                    <div class="row">                     
                    <div class="form-group col-md-12">         
                        <span *ngIf="resultadoUpdate != ''" class="row text-success m-1"> {{resultadoUpdate}} </span>
                    </div>
                    </div>                   
                </div>            
            </div>
            <div *ngIf="!error && hojaCaja != null" class="d-flex justify-content-end">
                <div class="form-group mx-2">         
                    <button [disabled]="hojaCaja.baja" type="button" title="Calcular Caja" class="btn btn-primary form-control form-control-sm" (click)="calcularCaja()"> Calcular Caja</button>                          
                </div>
                <div class="form-group">                                 
                    <button [disabled]="error || hojaCaja.baja" type="submit" title="Cerrar Caja" class="btn btn-primary form-control form-control-sm" [disabled]="!hizoCalculo" (click)="guardarArqueo()"> Cerrar Caja</button>                             
                </div>
            </div>
    </div>
</form>
</div>