<div class="row">
    <app-error-message *ngIf="error" [mensaje]="error"></app-error-message>
    <div class="col-md-4 mx-auto">
        <div classs="card">
            <div class="card-header">
                Autenticación
            </div>
            <div class="card-body">
                <form class="form" (submit)="ingresar()">
                    <div class="form-group">
                        <input tye="text" name="usuario" [(ngModel)]="user.usuario" class="form-control m-1" placeholder="Ingrese su usuario" required autofocus>
                        <input tye="password" name="clave" [(ngModel)]="user.clave" class="form-control m-1" placeholder="Ingrese su contraseña" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
