<app-error-message *ngIf="!loading && error" [mensaje]="error.message"></app-error-message>
<div *ngIf="!error" class="col-12 table-responsive">
    <h4>Hojas de Caja</h4>
    <div *ngIf="loading" class="d-flex align-items-center justify-content-center" [ngStyle]="{'min-height.px': 400}">
        <div class="fa-4x">
            <i class="my-auto fa-solid fa-spinner fa-spin-pulse text-warning opacity-50"></i>
        </div>        
    </div> 
    <div *ngIf="!loading && hojas.length == 0" class="alert alert-info">
        <h5>No se encontraron Hojas de Caja cargadas en la Base de Datos</h5> 
     </div>
    <table *ngIf="!loading && hojas.length > 0" class="table">
        <thead>
            <tr>
                <th scope="col" style="width:10%;">Alta</th>
                <th scope="col" style="width:15%;">Fondo Fijo</th>
                <th scope="col" style="width:15%;">Prox. Fondo Fijo</th>
                <th scope="col" style="width:15%;">Ventas Online</th>
                <th scope="col" style="width:15%;">Pagos Online</th>
                <th scope="col" style="width:15%;">Balance</th>                
                <th scope="col" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hoja of hojas; trackBy: trackByFn" [ngClass]="{'text-secondary': hoja.baja != null}">
                <th scope="row">{{hoja.alta | date}} </th>
                <td><span *ngIf="hoja.fondoFijo != null">{{hoja.fondoFijo | currency}}</span></td>
                <td><span *ngIf="hoja.proximoFF != null">{{hoja.proximoFF | currency}}</span></td>
                <td><span *ngIf="hoja.ventasOnline != null">{{hoja.ventasOnline | currency}}</span></td>
                <td><span *ngIf="hoja.pagosOnline != null" [ngClass]="{'text-secondary': hoja.baja != null, 'text-danger': hoja.baja == null }" >{{hoja.pagosOnline | currency}}</span></td>
                <td><span *ngIf="hoja.balance != null" [ngClass]="{'text-danger': hoja.baja == null && hoja.balance < 0 }" >{{hoja.balance | currency}}</span></td>                
                <td>
                    <button title="Ver Hoja" *ngIf="hoja.id != null" class="btn btn-warning m-1" [routerLink]="['/hojasCaja', hoja.id]"><i class="fas fa-eye"></i></button>
                    <button title="Eliminar Hoja" *ngIf="hoja.id != null && !hoja.baja" class="btn btn-danger m-1" (click)="eliminarHoja(hoja.id)"><i class="far fa-trash-alt"></i></button>
                    <span title="Fecha de eliminación" *ngIf="hoja.id != null && hoja.baja"> {{hoja.baja | date:'d/MM/yyyy H:mm'}}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>
