<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="h1 m-4">  SisFi</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a id="hojasCaja" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">CAJA</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/hojasCaja/get/hoy"><i class="fa-solid fa-file text-secondary"></i>  Hoja Hoy</a></li>
                        <li><a class="dropdown-item" routerLink="/hojasCaja"><i class="fa-solid fa-copy text-secondary"></i>  Listado </a></li>
                        <li><a class="dropdown-item" routerLink="/hojasCaja/add"><i class="fa-solid fa-file-circle-plus text-success"></i>  Nueva Hoja</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="clientes" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">CLIENTES</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/clientes"><i class="fa-solid fa-users text-secondary"></i>  Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/clientes/add"><i class="fa-solid fa-user-plus text-success"></i>  Nuevo Cliente</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="usuarios" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">USUARIOS</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/usuarios"><i class="fa-solid fa-users text-secondary"></i>  Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/usuarios/add"><i class="fa-solid fa-user-plus text-success"></i>  Nuevo Usuario</a></li>
                    </ul>
                </li>
            </ul>
            <nav class="navbar-nav">
                <span *ngIf="!loggedIn()" class="navbar-text mr-4">
                  Usted no se encuentra logueado en la aplicación
                </span>
                <span *ngIf="loggedIn()" class="navbar-text mr-4">
                  <app-usuario-logueado></app-usuario-logueado>
                </span>
            </nav>
            <ul class="navbar-nav">
                <li *ngIf="!loggedIn()" class="nav-item">
                    <button class="btn btn-light mr-2" type="button" routerLink="/login/signin">Ingresar</button>
                </li>
                <li *ngIf="loggedIn()" class="nav-item">
                    <button class="btn btn-light mr-2" type="button" routerLink="/login/signout">Salir</button>
                </li>
            </ul>

        </div>
    </div>
</nav>
